.countryDescriptionContainer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.description {
    flex: 0 1 70%;
    font-size: 20px;
    text-align: justify;
}

.imageContainer {
    /* position: relative; */
    flex: 0 1 27%;
    min-height: 200px;
}

.imageCountry {
    /* position: absolute; */
    max-width: 100%;
    object-fit: cover;
    background-color: rgb(123, 151, 95);
}

@media (max-width: 767px) {
    .countryDescriptionContainer {
        flex-direction: column;
        padding: 15px 0;
    }

    .description {
        flex: 0 1 50%;
    }

    .imageContainer {
        flex: 0 1 50%;
    }
}