.countryDescriptionContainer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    flex: 0 1 70%;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}

.imageContainer {
    position: relative;
    flex: 0 1 27%;
    min-height: 200px;
}

.imageCountry {
    position: absolute;
    max-width: 100%;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgb(123, 151, 95);
}
