.videoContainer {
    margin-top: 370px;
    padding: 50px 0;
}

.video {
    width: 1000px;
    height: 500px;
}

@media(max-width:1050px){
    .video{
        max-width: 800px;
    }
}
@media(max-width:850px){
    .video{
        max-width:700px;
        height: 350px;
    }
}
@media(max-width:780px){
    .videoContainer {
        margin-top: 270px;
    }
    .video{
        max-width:600px;
        height: 300px;
    }
}
@media(max-width:630px){
    .videoContainer {
        margin-top: 180px;
    }
    .video{
        max-width:500px;
        height: 250px;
    }
}
@media(max-width:530px){
    .videoContainer {
        margin-top: 120px;
    }
    .video{
        max-width:400px;
        height: 200px;
    }
}
@media(max-width:440px){
    .videoContainer {
        margin-top: 100px;
    }
    .video{
        max-width:310px;
        height: 155px;
    }
}