.headerWrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 540px) {
    .headerWrapper {
        display: block;
    }
}