.searchContainer {
  position: relative;
}

.searchBar {    
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 40px;
  outline: none;
  background: none;
}

.searchBar:focus {
  border: 2px solid white;
  transition: 0.35s ease;
  color: white;
}

.removeSearchButton {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  position: absolute;
  right: 50px;
  top: 25%;;
}

.searchButton{
  background: none;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  background-image: url('../../../assets/images/search.svg');
  height: 25px;
  width: 25px;
  position: absolute;
  right: 6%;
  top: 23%;
}
    /* background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    position: absolute;
    right: 4%;
    top: 25%;
  } */

  @media (max-width: 540px) {
    .searchContainer {
        margin: 0;
        padding-bottom: 20px;
    }
  }
