.card {
  margin: 10px;
  cursor: pointer;

  display: block;
}

.container {
  width: 240px;
  height: 320px;

  flex: 0 0 240px;

  border-radius: 25px;

  background: grey;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);

  transition: box-shadow 0.5s;

  position: relative;
  overflow: hidden;
  background-color: #333;
  box-shadow: inset #333 0 0 0 5px, inset rgb(255 255 255 / 50%) 0 0 0 6px;

}

.items {
  box-sizing: content-box;

  height: 100%;
  width: 100%;

  padding: 20px;

  position: absolute;
  top: -20px;
  left: -20px;

  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;

  
  opacity: 0.8;

  
}

.cardInfo {
  padding: 20px;
  position: absolute;
  /* bottom: 37px; */
  top: -50px;
  color: #fff;
  transform: translateY(40%);
}

.cardInfo h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: rgb(0 0 0 / 50%) 0 10px 10px;
}

.text {
  position: absolute;
}

.card1 {
  border-radius: 50%;
  background-color:crimson;

  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;

  width: 25ch;
  height: 25ch;
}