@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    font-family: 'Poppins', sans-serif;
}